@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';


@theme {
  --font-sans: "Lato", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}

@theme {
  --color-primary: #51111d;
  --color-secondary: hsl(218, 28%, 13%);
  --color-darkBlue: hsl(216, 53%, 9%);
  --color-darkBlue2: hsl(219, 30%, 18%);
  --color-lightRed: hsl(0, 100%, 63%);
}
.custom-select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1em;
  padding-right: 2rem; /* Adjust this value to move the arrow left/right */
}
html, body {
  height: 100%;
  overflow: hidden;
}